@page "/"
@using BlazorApp.Hubs
@using BlazorApp.Services
@using Microsoft.AspNetCore.SignalR.Client
@inject IControllable Control
@inject MapSyncingHub Hub
@inject NavigationManager NavigationManager
@implements IAsyncDisposable


<link href="css/Index.css" rel="stylesheet"/>

<div class="layout">
    <h1>Multithread project by Przemysław Małecki</h1>

    <p>Waiting clients: @_status.WaitingClientsCount.ToString()</p>
    <p>Free GoCarts: </p>
    <div class="buffer">
        @foreach (var goCart in _status.GoCartsBufferPreview)
        {
            <div class="goCart" style="background-color: @goCart" />
        }
    </div>
    
    <div>
        <!-- upper line -->
        <div class="horizontal-line">
            @if (Control.IsRunning)
            {
                @for (int index = 0; index < 10; index++)
                {
                    <div class="goCart" style="background-color: @_status.Map[index].Occupant?.HexColor;">
                        @_status.Map[index].Occupant?.Marker
                    </div>
                }
            }
        </div>
    
        <!-- vertical lines -->
        <div class="vertical-line-container">
            <!-- right line -->
            <div class="vertical-line">
                @if (Control.IsRunning)
                {
                    @for (int index = 10; index < 14; index++)
                    {
                        <div class="goCart" style="background-color: @_status.Map[index].Occupant?.HexColor;">
                            @_status.Map[index].Occupant?.Marker
                        </div>
                    }
                }
            </div>
    
            <!-- left line -->
            <div class="vertical-line" style="flex-direction: column-reverse;">
                @if (Control.IsRunning)
                {
                    @for (int index = 24; index < 28; index++)
                    {
                        <div class="goCart" style="background-color: @_status.Map[index].Occupant?.HexColor;">
                            @_status.Map[index].Occupant?.Marker
                        </div>
                    }
                }
            </div>
        </div>
    
        <!-- lower line -->
        <div class="horizontal-line" style="flex-direction: row-reverse;">
            @if (Control.IsRunning)
            {
                @for (int index = 14; index < 24; index++)
                {
                    <div class="goCart" style="background-color: @_status.Map[index].Occupant?.HexColor;">
                        @_status.Map[index].Occupant?.Marker
                    </div>
                }
            }
        </div>
    </div>
    
    <div class="button-container">
        @if (Control.IsRunning)
        {
            <button @onclick="Stop">Stop</button>
            
        }
        else
        {
            <button @onclick="Start">Start</button>
        }
    </div>
</div>

@code
{
    void Start()
    {
        Control.Start();
        _status = Control.Status();
    }

    void Stop()
    {
        Control.Stop();
        _status = Control.Status();
    }
    
    private ThreadingLogicStatus _status;    
    private HubConnection? _hubConnection;
    
    protected override async Task OnInitializedAsync()
    {
        _status = Control.Status();
        
        string baseUrl = NavigationManager.BaseUri;
        
        var hubUrl = baseUrl.TrimEnd('/') + MapSyncingHub.HubUrl;
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .Build();

        _hubConnection.On("MapChanged", UpdateMap);
        
        await _hubConnection.StartAsync();
    }

    private void UpdateMap()
    {
        StateHasChanged();
        _status = Control.Status();
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}